<h1 class='centered text-shadow'>Food Preferences</h1>

<div class="input-group input-group-lg card shadow">
  <span class="input-group-addon no-rounded">
    <span class="glyphicon glyphicon-search"></span>
  </span>

  <input class="form-control no-rounded" ng-model="search">

  <span class="input-group-btn" ng-show="search">
    <button class="btn btn-default no-rounded" type="button">&times;</button>
  </span>
</div>

<div>
  <div ng-repeat="(interest, selected) in interests | filter:search" class="input-group input-group-lg card shadow mt10">
    <div class="form-control no-rounded">{{interest}}</div>
    <span class="input-group-btn">
      <button ng-click="enable(interest)" ng-hide="selected" class="btn btn-default no-rounded" type="button">+</button>
      <button ng-click="disable(interest)" ng-show="selected" class="btn btn-default no-rounded green-btn" type="button">✓</button>
    </span>
  </div>
</div>

<div id="interest-controls" class="mt20 pull-right">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default" ng-href="/interests">Back</button>
    </div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default" ng-href="/interests">1</button>
      <button type="button" class="active btn btn-default" ng-href="/foods">2</button>
    </div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default" ng-click="save()">Done!</button>
    </div>
  </div>
</div>
