<h1 class='centered text-shadow'>Food Preferences</h1>

<div class="input-group input-group-lg card shadow">
  <span class="input-group-addon no-rounded">
    <span class="glyphicon glyphicon-search"></span>
  </span>

  <input class="form-control no-rounded" ng-model="search">

  <span class="input-group-btn" ng-show="search">
    <button class="btn btn-default no-rounded" type="button">&times;</button>
  </span>
</div>

<div>
  <div ng-repeat="food in foods | filter:search" class="input-group input-group-lg card shadow mt10">
    <div class="form-control no-rounded">{{food.title}}</div>
    <span class="input-group-btn">
      <button ng-click="enable(food)" ng-hide="food.status" class="btn btn-default no-rounded" type="button">+</button>
      <button ng-click="disable(food)" ng-show="food.status" class="btn btn-default no-rounded green-btn" type="button">✓</button>
    </span>
  </div>
</div>

<div id="interest-controls" class="mt20 pull-right">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg">
      <a class="btn btn-default" ng-href="#/interests">Back</a>
    </div>
    <div class="btn-group btn-group-lg">
      <a class="btn btn-default" ng-href="#/interests">1</a>
      <a class="active btn btn-default" ng-href="#/foods">2</a>
    </div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default" ng-click="save()">Done!</button>
    </div>
  </div>
</div>
