<div class="card p50 bordered centered shadowed">
  <h1 style="margin-top: 0"><small>Welcome to</small><br>Food Roulette</h1>

  <img class="logo" src="images/burger.png">

  <p class="lead">Lipsum...</p>

  <button type="button" class="btn btn-lg" ng-class="{'btn-success': me.food_roulette.is_eating, 'btn-default': !me.food_roulette.is_eating}" ng-click="is_eating(true)">
    <span class="text-pre-line" ng-hide="me.food_roulette.is_eating">Yeah! Count on me for tomorrow!</span>
    <span class="text-pre-line" ng-show="me.food_roulette.is_eating">Great!!</span>
  </button>
  <br>
  <button type="button" class="btn btn-link" ng-click="is_eating(false)">Sorry, I'm busy tomorrow...</button>
</div>
