<div class="card p50 bordered centered shadowed">
  <img class="logo nomargins" src="images/burger.png">

  <h1>Food Roulette <small>for <span class="yammer-logo text-hide">Yammer</span></small></h1>

  <p class="lead">New at the company? Do you want to meet your work mates? Enjoy your job environment even more! Meet everyone and have always something to talk about!</p>

  <p><a class="sign-in" href="https://www.yammer.com/dialog/oauth?client_id=5UssSspr2rW7yTg5G74cIQ&redirect_uri=http%3A%2F%2Fch-foodroulette.herokuapp.com%2Fuser_register">Login with Yammer</a></p>
</div>
