<div class="card shadowed bordered centered p10">
  <h2 style="margin-top: 10px">Your lunch party</h2>
  <p>This are your partners for having lunch today! Enjoy!</p>
</div>

<div style="position: relative">
  <div class="card shadow mt10 roulette-card" ng-class="{front: friend.primary, back: !friend.primary}" ng-click="setPrimary(friend)" ng-repeat="friend in friends">
    <div class="basic">
      <img ng-src="{{friend.mugshot_url}}" class="img-thumbnail">
      <div class="basic-data">
        <h3><strong>{{friend.name}}</strong></h3>
        <p>{{friend.department}}</p>
        <button type="button" class="btn btn-success block" ng-show="!friend.messaging" ng-click="friend.messaging = true">Send Message</button>
      </div>
      <div class="message" ng-show="friend.messaging">
        <textarea class="form-control" rows="4" ng-model="friend.message"></textarea>
        <button type="button" class="btn btn-success" ng-click="sendMessage(friend)"><span class="glyphicon glyphicon-ok"></span> Send</button>
        <button type="button" class="btn btn-danger" ng-click="cancelMessage(friend)"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
    <hr>
    <h3>Interests</h3>
    <div class="interests card">
      <div class="interests-wrapper" ng-class="{collapsed: !friend.expandInterests}">
        <div class="interest" ng-repeat="interest in friend.interests">{{interest}}</div>
      </div>
      <button class="btn btn-active centered no-rounded block btn-sm" ng-click="friend.expandInterests = true" ng-hide="friend.expandInterests"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <!-- <hr> -->
    <h3>Ice Breaking News</h3>

    <small class="pull-right">Powered by <span class="text-hide bing-logo">Bing</span></small>
  </div>
</div>
